
body {
	background-color: #EEEEEE;
	font-family: 'Josefin Sans';

}

::selection {
	background: transparent;
}

div {

	//border: 1px solid #ff0000;

}

#container {
	display: flex;
	padding:  40px;
}

#leftColumn, #rightColumn {

	width:  30%;
	padding: 10px;

} 

#centerColumn {

	width:  39%;
	text-align: center;

}

#title {

	text-align: center;
	padding:  10px 15px;
	font-weight: 900;
	font-size: 30px;
	display: inline-block;
	background-color: #333;
	color:  #FFF;

}


#drawing {

	cursor: pointer;

}

.title {

	font-weight: bold;
	text-align: center;
	font-size: 25px;
	margin-bottom: 25px;

}

.container {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.item {

	height: 150px;
	width: 80px;
	background-color: #fff;
	margin-bottom: 10px;
	margin-right:  10px;
	cursor: pointer;
	text-align: center;

}

.section {
	margin-top: 60px;
}