
body {
	background-color: #DDD;
	font-family: 'Montserrat';
	color: #333;

}
div {
	//border:  1px solid #ff0000;
	box-sizing: border-box;

}

::selection {
	background: transparent;
}

#container {
	display: flex;
	padding:  40px;
}

#leftColumn, #rightColumn {

	width:  30%;
	padding: 10px;

} 

#centerColumn {

	width:  39%;
	text-align: center;

}

#title {

	text-align: center;
	padding:  10px 15px;
	font-weight: 900;
	font-size: 30px;
	display: inline-block;
	background-color: #333;
	color:  #FFF;

}


#drawing {

	cursor: pointer;
	transition: transform .5s ease;

}

#drawing:hover {
  transform: scale(1.04);
}

.title {

	font-weight: bold;
	text-align: center;

	font-size: 25px;
	margin-bottom: 25px;

}

.title.sub {

	font-size: 15px;
	margin-bottom: 15px;

}

.container {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.section {
	margin-top: 60px;
}

.item {

	box-sizing: border-box;
	height: 80px;
	width: 80px;
	padding: 5px;
	margin-bottom: 10px;
	margin-right:  10px;
	cursor: pointer;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;

}

.item.main {

	height: 120px;

}

.item:hover {

	background-color: #ccc;

}

.item.selected {

	background-color: #fff;

}

.item.bordered {

	box-shadow:0px 0px 0px 2px #FFF inset;
	//color:  #fff;

}

.item#black {	background-image: url('svg/black.svg'); }
.item#white {	background-image: url('svg/white.svg'); }
.item#red {	background-image: url('svg/red.svg'); }
.item#yellow {	background-image: url('svg/yellow.svg'); }
.item#blue {	background-image: url('svg/blue.svg'); }
.item#grey {	background-image: url('svg/grey.svg'); }
.item#orange {	background-image: url('svg/orange.svg'); }
.item#green {	background-image: url('svg/green.svg'); }
.item#violet {	background-image: url('svg/violet.svg'); }

.item#darkred {	background-image: url('svg/darkred.svg'); }
.item#darkyellow {	background-image: url('svg/darkyellow.svg'); }
.item#darkblue {	background-image: url('svg/darkblue.svg'); }
.item#darkgrey {	background-image: url('svg/darkgrey.svg'); }
.item#darkorange {	background-image: url('svg/darkorange.svg'); }
.item#darkgreen {	background-image: url('svg/darkgreen.svg'); }
.item#darkviolet {	background-image: url('svg/darkviolet.svg'); }

.item#lightred {	background-image: url('svg/lightred.svg'); }
.item#lightyellow {	background-image: url('svg/lightyellow.svg'); }
.item#lightblue {	background-image: url('svg/lightblue.svg'); }
.item#lightgrey {	background-image: url('svg/lightgrey.svg'); }
.item#lightorange {	background-image: url('svg/lightorange.svg'); }
.item#lightgreen {	background-image: url('svg/lightgreen.svg'); }
.item#lightviolet {	background-image: url('svg/lightviolet.svg'); }

.item#circle {	background-image: url('svg/circle.svg'); }
.item#square {	background-image: url('svg/square.svg'); }
.item#rhombus {	background-image: url('svg/rhombus.svg'); }


.item.charge#top { background-image: url('svg/top.svg'); }
.item.charge#right { background-image: url('svg/right.svg'); }
.item.charge#bottom { background-image: url('svg/bottom.svg'); }
.item.charge#left {	background-image: url('svg/left.svg'); }

.item.charge#topleft {	background-image: url('svg/topleft.svg'); }
.item.charge#topright {	background-image: url('svg/topright.svg'); }
.item.charge#bottomleft {	background-image: url('svg/bottomleft.svg'); }
.item.charge#bottomright {	background-image: url('svg/bottomright.svg'); }

.item.split#top {	background-image: url('svg/top-split.svg'); }
.item.split#left {	background-image: url('svg/left-split.svg'); }
.item.split#topleft {	background-image: url('svg/topleft-split.svg'); }
.item.split#topright {	background-image: url('svg/topright-split.svg'); }

