
body {
	background-color: #EEEEEE;
	font-family: 'Josefin Sans';

}

::selection {
	background: transparent;
}

div {

	//border: 1px solid #ff0000;

}

#container {
	display: flex;
	padding:  40px;
}

#leftColumn, #rightColumn {

	width:  30%;
	padding: 10px;

} 

#centerColumn {

	width:  39%;
	text-align: center;

}

#title {

	text-align: center;
	padding:  10px 15px;
	font-weight: 900;
	font-size: 30px;
	display: inline-block;
	background-color: #333;
	color:  #FFF;

}


#drawing {

	cursor: pointer;
	transition: transform .5s ease;

}

#drawing:hover {
  transform: scale(1.04);
}

.title {

	font-weight: bold;
	text-align: center;
	font-size: 25px;
	margin-bottom: 25px;

}

.container {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.item {

	height: 80px;
	width: 80px;
	padding: 5px;
	background-color: #fff;
	margin-bottom: 10px;
	margin-right:  10px;
	cursor: pointer;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;

}

.item#circle {	background-image: url('svg/circle.svg'); }
.item#square {	background-image: url('svg/square.svg'); }
.item#rhombus {	background-image: url('svg/rhombus.svg'); }


.item#top {	background-image: url('svg/top.svg'); }
.item#right {	background-image: url('svg/right.svg'); }
.item#bottom {	background-image: url('svg/bottom.svg'); }
.item#left {	background-image: url('svg/left.svg'); }

.item#topleft {	background-image: url('svg/topleft.svg'); }
.item#topright {	background-image: url('svg/topright.svg'); }
.item#bottomleft {	background-image: url('svg/bottomleft.svg'); }
.item#bottomright {	background-image: url('svg/bottomright.svg'); }

.item.split#top {	background-image: url('svg/top-split.svg'); }
.item.split#left {	background-image: url('svg/left-split.svg'); }
.item.split#topleft {	background-image: url('svg/topleft-split.svg'); }
.item.split#topright {	background-image: url('svg/topright-split.svg'); }

.section {
	margin-top: 60px;
}